@media (min-width: 1020px) {
  .section {
    padding-right: 10rem;
    padding-left: 10rem;
  }
}

@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: block;
  }

  .main {
    position: relative;
  }

  .heading-primary,
  .heading-secondary-green {
    font-size: 4.8rem;
    font-weight: 800;
    line-height: 60px;
    letter-spacing: 0.3700000047683716px;
    text-align: center;
  }

  .heading-secondary {
    font-size: 4rem;
    font-weight: 700;
    line-height: 5.2rem;
    letter-spacing: 0;
    text-align: center;
  }

  .desktop-menu {
    display: flex;
    gap: 2rem;
    justify-content: center;
  }

  .menu {
    display: flex;
    justify-content: center;
    gap: 3rem;
  }

  .menu-item {
    color: #172b4d;
    font-size: 1.6rem;
    font-weight: 600;
    display: inline-block;
    padding: 8px 16px;
  }

  .main-header {
    background-image: url(../imgs/desktop-version/header-desktop-bg.png);
    background-origin: border-box;
    background-size: cover;
    height: 100vh;
  }

  .work-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 24px;
    justify-items: center;
  }

  .about-description {
    max-width: 80%;
  }

  .section-about {
    padding-top: 12.8rem;
  }

  .cards {
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.4rem;
  }

  .section-contact {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(1, 1fr);
    column-gap: 2.4rem;
    align-items: center;
    padding-bottom: 22rem;
  }

  .desktop-only.heading-tertiary {
    font-size: 3rem;
    font-weight: 700;
    line-height: 5.2rem;
    letter-spacing: 0;
    text-align: left;
    color: #172b4d;
  }

  .form-contact {
    align-items: flex-start;
  }

  .form-contact .btn {
    margin: 0 !important;
  }

  .error-message {
    width: 100%;
  }

  .footer {
    position: relative;
    border-top: 1px solid  #dfe1e6;
  }

  .main-botoom-left-bg {
    position: absolute;
    bottom: -2rem;
    left: 0;
  }

  .main-bottom-right-bg {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .main-center-bg {
    position: absolute;
    bottom: 0;
    left: 20%;
  }
}

@media (max-width: 768px) {
  /* ******************
  * Mobile Menu *
  *********************/
  .mobile-nav {
    position: fixed;
    top: -100vh;
    width: 100%;
    height: 100vh;
    display: block;
    background-color: #fff;
    z-index: 100;
    padding: 2.8rem;
    transition: ease 0.4s;
    border-radius: 0 0 5rem 5rem;
  }

  .mobile-nav.is-active {
    top: 0;
  }

  .mobile-nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .close-btn {
    height: 30px;
    cursor: pointer;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .mobile-menu a {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 4.4rem;
    letter-spacing: 0;
    color: #3a4a42;
  }
}
