/* ********** */

/* GENERAL SETTINGS */

/* ********** */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
}

.section {
  padding-right: 2.7rem;
  padding-left: 2.7rem;
}

.section--sm {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.section--lg {
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
}

.normal-text {
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  text-align: center;
  letter-spacing: 0;
  color: #172b4d;
}
